.Cart {
    width: 750px;
    margin: 100px auto;
    background: white;
    border-radius: 13px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    Flex-direction: column;
    Padding: 1em;
}

.Cart-title {
    border-bottom: 1px solid grey;
    color: #075469;
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 1em;
}